<div>
    <h1 class="blog-post-title"><a href="">{{ post.title }}</a></h1>
    <p style="font-style: italic;" class="blog-post-meta">Опубликовано: {{ post.created_date }} пользователем {{ post.author }}</p>
    {% if 'video' in post.tags%}
    <iframe width="420" height="315"
        src="https://www.youtube.com/embed/{{ post.text }}">
    </iframe>
    {% else %}
        <p>{{ post.text|linebreaksbr }}</p>
    {% endif %}
    <p class="blog-post-meta">
        теги:
        {% for tag in post.tags.all %}
            <a href="{{ tag.get_absolute_url}}">{{tag.title}}</a>
        {% endfor %}
    </p>
</div>